body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: pink;
    
}

.login {
    border: 3px solid;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    background-color: white;
    font-size: 200%;
}

.emailpassword {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    /* Adjust the value as needed to add space between the two divs */
}

.emailLabel,
.passwordFieldLabel {
    display: block;
    margin-top: 50px;
    margin-bottom: 5px;
    font-size:100%;
    
    
}

.emailField,
.passwordField {
    padding-bottom: 10%;
    padding-left: 50px;
    padding-right: 50px;
}

.set-width{
    width: 200px;
}

.loginButton {
    margin-top: 50px;
    margin-bottom: 20px;
    background-color:lightsteelblue;
    color: white;
    padding: 20px 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: large;
}