body {
    
    margin: 0;
    font-family: 'Arial', sans-serif; /* Use your preferred font-family */
}

.MaintenanceRequests {
    padding: 20px; /* Adjust padding as needed */
  }
  
  .maintenanceRequestDisplay {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; /* Adjust margin as needed */
  }
  
  .maintenanceRequestDisplay th, .maintenanceRequestDisplay td {
    border: 1px solid #ddd; /* Set your desired border color */
    padding: 8px; /* Adjust padding as needed */
    text-align: left;
  }
  
  .maintenanceRequestDisplay th {
    background-color: #f2f2f2; /* Set your desired background color for table header */
  }

  .createMRForm{
    border: 3px solid;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    background-color: white;
    font-size: 150%;
  }

  .problemAreaContents{
    display: flex;
    margin-bottom: 20px;
  }

  .descriptionContents{
    display: flex;
    margin-bottom: 20px;
  }
  
  .imageContents{
    display: flex;
    margin-bottom: 20px;
  }
  
  .problemAreaField,
  .descriptionField,
  .imageInput{
    margin-left: 20px;
    padding-bottom: 10%;
    padding-left: 50px;
    padding-right: 50px;
  }